// Sass helper mixin for Wwipeshow.
//
//     @import 'swipeshow';
//
//     .slideshow {
//       @include swipeshow(200px, 150px);
//     }
//
@mixin swipeshow($width, $height, $cursor: true) {
  &,
  .slides,
  .slide {
    display: block;
    width: $width;
    height: $height;

    margin: 0;
    padding: 0;
    list-style: none;

    /* Prevent flickers */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    /* In case you add padding */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  & {
    overflow: hidden;
    position: relative;
  }

  .slides {
    width: 99999px;

    position: absolute;
    top: 0;
    left: 0;
  }

  .slide {
    float: left;
    -webkit-user-select: none;   /* iOS: disable text select */
    -webkit-touch-callout: none; /* iOS: disable callout, image save panel (popup) */
  }

  @if $cursor == true {
    &.swipeshow-active .slides {
      cursor: -moz-grab !important;
      cursor: ew-resize;
    }
  }
}

// Helper for having a grab cursor.
// Just use it like so:
//
//     @include swipeshow-grab-cursor;
//
@mixin swipeshow-grab-cursor {
  html.swipeshow-grabbed,
  html.swipeshow-grabbed * {
    cursor: -moz-grabbing !important;
    cursor: ew-resize;
  }
}
