@import ../slideshow

.slideshow
  +horizontal-slideshow(200px, 200px)

/* Extras */
.slide
  -webkit-backface-visibility: hidden
  -webkit-transition: opacity 300ms linear
  -moz-transition: opacity 300ms linear
  transition: opacity 300ms linear
  opacity: 0.8
.slide.active
  opacity: 0.999
